<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="StringConnection" value="server=localhost;port=3306;database=dbbot;user=root;password=;Persist Security Info=False; Connect Timeout=300" />
    <add key="qatable" value="table2" />
    <add key="MedStaffFact_sid" value="dfgdf" />
    <add key="Lpu_sid" value="555" />
    <add key="LpuSection_sid" value="5555" />
    <add key="Login" value="fdf" />
    <add key="Password" value="fgfg" />
    <add key="Domain" value="fgfg" />
  </appSettings>
</configuration>